@import url(https://fonts.googleapis.com/css?family=Roboto);

*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	
}

header{
	width: 100%;
    background: rgb(52, 58, 68);
    height: 100px;
    position: absolute;
    display: inline-flex;
	align-items: center;
    top: 0;
	left: 0;
    z-index: 10;
	border-bottom: 5px solid rgb(35, 71, 135);
	align-items: center;
	text-decoration: none;
	text-align: center;
}


header .envoltorio{
	width:80%;
	margin:0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .envoltorio nav>ul{
    list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-end;
	position: relative;
	width: fit-content;
}

header .envoltorio nav li{
    line-height: 2.5em;
}

header .envoltorio nav a{
    color: #ddd;
    display: inline-flex;
    padding: 0 2.5em;
    text-decoration: none;
	height: 100px;
	text-align: center;
	align-items: center;
	z-index: 10;
}

header .envoltorio nav a:hover{
    background: rgb(35, 71, 135);
}

/*Primer nivel*/

header .envoltorio nav>ul{
    background-color: rgb(52, 58, 68);
    width: 100%;
	/* overflow: hidden; */
}

header .envoltorio nav>ul>li{
    float: left;
}

header .envoltorio nav>ul>li>ul{
    position: absolute;
	display: none;
	background-color: black;
}

.menu:hover ul{
	display: block;
}



header .envoltoio nav>ul>li:hover ul {
    display: block;
}


header .envoltorio nav>ul>li>ul>li>a{
	padding: 0.5em 2.5em;
	color: #ddd;
}

.contenedor-slider img{
	width: 100%;
}

.intro .envoltorio {
	background-color: rgb(35, 71, 135);
	width: fit-content;
	border-radius: 0;
	padding: 50px;
	padding-left: 140px;
	padding-right: 140px;
	align-items: center;
	display: block;
	text-decoration: none;
	text-align: center;
}

#titu{
	text-decoration: none;
	text-align: center;
	font-size: 2em;
	font-weight: lighter;
	color: aliceblue;
}

.intro .envoltorio p{
	color: aliceblue;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: justify;
}

.intro .envoltorio span{
	margin-top: 20px;
	margin-bottom: 20px;
}

.intro .boton{
	text-decoration: none;
    background-color: rgba(21, 43, 80, 0.843);
	padding: 10px;
    padding-left: 20px;
	padding-right: 20px;
    color: white;
    font-size: .9em;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    transition: backgrounf 1s;
}

.servicios .grid{
	width: 100%;
    padding: 2%;
    background-color: white;
    margin: 30px 1.5%;
    border: solid 0.5px rgba(0, 0, 0, 0.089);
    text-align: center;
	display:block;
	position: relative;
	margin-top: 30px;
	align-items: center;
	box-shadow: 0 10px 4px -4px rgba(0, 0, 0, 0.2);
}


#hr{
	border: 0.1px solid rgba(0, 0, 0, 0.089);
}

.servicios .envoltorio{
	width:100%;
	margin:0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.grid img{
    width: 100%;
    height: auto;
}

.servicios .grid h3{
	color: rgba(11, 59, 162, 0.878);
	font-size: 2em;
	font-weight: lighter;
	text-align: center;
}

.servicios .grid p{
	color: rgba(0, 0, 0, 0.296);
	text-align: justify;
}

.servicios .botoncito{
	display: inline-block;
    padding: 10px 20px; 
    background-color: rgba(21, 43, 80, 0.843);
    color: white; 
    text-decoration: none; 
    margin-top:20px;
}

.testimonios{
	background: rgb(236, 234, 230);
	padding-top: 7%;
}

.testimonios .envoltorio .testimonios-grid h3{
	font-size: 2em;
	font-weight: 50;
	text-align: center;
	margin-bottom: 50px;
	color: #000000c0;
}

.testimonios .envoltorio .testimonios-grid p{
	margin: 50px 100px;
	color: rgba(0, 0, 0, 0.33);
}

footer{
	background-color: rgb(52, 58, 68);
	color: white;
	padding: 15px;
}