*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	
}

h2{
    display: block;
    margin-top: 200px;
    margin-left: 40px;
    padding: 20px;
    font-size: 3em;
    color: rgb(35, 71, 135);
}

.ofertas .envoltorio form{
    display: block;
    padding: 20px;
}

#dep{
    color: rgba(0, 0, 0, 0.507);
}

#gen{
    color: rgba(0, 0, 0, 0.507);
}

#carr{
    color: rgba(0, 0, 0, 0.507);
}

input{
    background-color: rgba(0, 0, 0, 0.047);
    border: none;
    border-radius: 10px;
}

form{
    background-color: rgba(35, 72, 135, 0.1);
    border-radius: 10px;
    margin: 50px;
}

button{
    border: none;
    border-radius: 10px;
    background-color: rgb(35, 71, 135);
    color: white;
    width: 100px;
    height: 50px;
}